<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Việc làm</title>
     <link th:href="@{/static/style/home.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/style/output.css}" rel="stylesheet"  />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="home/header.html :: body"></div>
   

    <!-- Phần content -->
    <div class="bg-[#f4f5f5]">
        <div class="container pt-[24px]">
    
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="bg-white px-[16px] py-[18px] rounded-[10px]">
                        <div class="flex items-center justify-between mb-[24px]">
                            <div>
                                <h4 class="text-[20px]">Công việc đã ứng tuyển</h4>
                                <p class="text-[17px] text-[green] font-bold" th:if="${currentStatus != null}" th:text="${currentStatus.message}"></p>
                                <p class="font-bold">Tìm thấy <span class="text-[green] font-bold" th:text="${totalElements}"></span> kết quả</p>

                            </div>
                            <div>
                                <div class="relative inline-flex cursor-pointer">
                                    <select onChange="handleSelectChange(event)" class="block appearance-none w-full bg-white border border-gray-300 hover:border-[green] px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                        <option value="">Tất cả</option>
                                        <option th:each="status : ${statuses}" th:selected="${@compareUtils.compareEnumAndString(status , param.status)}"
                                        th:value="${status}" th:text="${status.message}">
                                                    
                                        </option>
                                    </select>
                                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                        <path d="M10 12l-6-6h12l-6 6z" />
                                      </svg>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <!-- Danh sách công việc -->
                        <div class="flex items-center justify-center gap-[16px] h-[360px] flex-col" th:if="${#lists.size(applications) < 1}">
                            <img class="" th:src="@{/static/images/empty.webp}" />
                            <p>Không có kết quả tìm kiếm nào</p>
                        </div>
                        <div th:each="item : ${applications}" class="mb-[32px]">
                                <div class="flex p-[12px] mb-[16px] cursor-pointer hover:border-[green] bg-white rounded-[8px] border-[1px] border-solid border-[#ccc] hover:bg-[#fff]">
                                    <div class="w-[100px] mr-[16px] h-[100px] flex items-center justify-center flex-shrink-0 rounded-[8px] border-[1px] border-[#ccc] border-solid">
                                        <img class="w-[100%] rounded-[8px] " th:src="${item.job.company.avatar}" />
                                    </div>
                                    <div >
                                        <div class="flex">
                                            <div>
                                                <a th:href="@{/viec-lam/{jobId}(jobId=${item.job.id})}" th:text="${item.job.title}" class="text-[18px] block mb-[10px] font-[500] text-[#344563] hover:text-[green]"></a>
                                                <a th:href="@{/cong-ty/{companyId}(companyId=${item.job.company.id})}"  class="text-[15px] text-[#555] font-[400] hover:text-[green!important]">CÔNG TY CỔ PHẦN MST ENTERTAINMENT</a>
                                                <div class="flex gap-[12px] mt-[10px]">
                                                    <p class="text-[15px]">
                                                        <span>Thời gian ứng tuyển : </span>
                                                        <span th:text="${@timeUtil.format(item.createdAt)}"></span>
                                                    </p>
                                                    
                
                                                </div>
                                            </div>
                                            <div class="flex flex-column items-end justify-between min-w-[200px]" >
                                                <p class="font-[500] text-[green]"><span class=" text-[green]" th:text="${item.job.salaryStart}"></span> - <span class=" text-[green]" th:text="${item.job.salaryEnd}"></span> triệu</p>
                                                <div class="flex gap-[10px]">
                                                    <button class="opacity-[0.7] text-white text-[14px] h-[28px] px-[12px] rounded-[3px] bg-[green]">Nhắn tin</button>
                                                    <button class="px-[6px] bg-[#effbef] flex items-center justify-center rounded-[3px]">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#008000" class="bi bi-heart" viewBox="0 0 16 16">
                                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                                          </svg>
                                                          <a  th:href="@{/xem-cv/{cvId}(cvId=${item.cv.id})}" target="_blank" class="ml-[4px] text-[green]">Xem CV</a>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="flex justify-between text-[15px]">
                                            <p>
                                                <span>Trạng thái : </span>
                                                <span class="font-[500]" th:text="${item.status.message}"></span>
                                            </p>
                                            <p>
                                                <span>Vào lúc : </span>
                                                <span th:text="${@timeUtil.format(item.createdAt)}"></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            
                        </div>

                        <!-- Phần phân trang -->
                        <div th:if="${#lists.size(applications) > 0}" class="pagination">
                            <ul class="flex items-center gap-[16px]">
                                <li class="" th:if="${currentPage > 0}">
                                    <a class="block  px-[16px] py-[8px] rounded hover:bg-[#ccc] border border-[green] " th:href="@{/lich-su-ung-tuyen(page=${currentPage - 1})}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-chevron-left" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                          </svg>
                                        
                                    </a>
                                </li>
                                <li class="" th:each="page : ${#numbers.sequence(1, totalPages)}">
                                    <a th:if="${currentPage == page - 1}" class="block bg-[green] text-[#fff!important] px-[16px] rounded  py-[8px]  w-full h-full" th:href="@{/lich-su-ung-tuyen(page=${page - 1})}" th:text="${page}"></a>
                                    <a th:if="${currentPage != page - 1}" class="block hover:bg-[#ccc] px-[16px] rounded  py-[8px]  w-full h-full" th:href="@{/lich-su-ung-tuyen(page=${page - 1})}" th:text="${page}"></a>
                                </li>
                                <li th:if="${currentPage < totalPages - 1}">
                                    <a class="block  px-[16px] py-[8px] rounded hover:bg-[#ccc] border border-[green]" th:href="@{/lich-su-ung-tuyen(page=${currentPage + 1})}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                                          </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    
                <div class="col-sm-4 bg-white  px-[16px] py-[18px] rounded-[10px]">
                    <div class="flex gap-[16px] mb-[16px]">
                        <img class="w-[72px] h-[72px] rounded-full" src="https://static.topcv.vn/company_logos/cong-ty-co-phan-falcon-technology-81320f9a475dbf9285bacb89bcf6daa3-651398605552d.jpg" />
                        <div>
                            <h4 class="text-[18px]">Nguyễn Đăng Lịch</h4>
                            <p>nguyendanglich30@gamil.com</p>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>
        
    
        </div>

    </div>

    <script th:inline="javascript">
        function handleSelectChange(event) {
            var selectedValue = event.target.value;
            // Thay đổi URL với tham số mới
            var newURL = window.location.origin + window.location.pathname + "?status=" + selectedValue;
            window.location.href = newURL;
        }
    </script>
</body>
</html>